@model List<Web.Models.Product.ProductViewModel>

@if (!User.IsInRole("Admin"))
    {
        <section class="flex flex-col min-w-screen relative w-full h-screen">
            <div class="swiper mySwiper w-full h-full">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img alt="Banner 1"
                             class="w-full h-full object-cover object-center"
                             src="https://www.themavensaigon.com/cdn/shop/files/COVER_ce1b467f-6927-4cc4-a139-e7572d66e372.jpg?v=1740205039&width=2100" />
                    </div>
                    <div class="swiper-slide">
                        <img alt="Banner 2"
                             class="w-full h-full object-cover object-center"
                             src="https://theme.hstatic.net/200000740713/1001130726/14/slideshow_2.jpg?v=85" />
                    </div>
                    <div class="swiper-slide">
                        <img alt="Banner 3"
                             class="w-full h-full object-cover"
                             src="https://storage.googleapis.com/a1aa/image/psCiLZTG5GFgGh8dcfSIB4b16tu1vfyJdyxUjG0SNlU.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img alt="Banner 4"
                             class="w-full h-full object-cover"
                             src="https://storage.googleapis.com/a1aa/image/9GoBEdM3lhB-3F6nmGB6ngAKXatrHOkejOogO_yH0ls.jpg" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
<section class="px-6 py-12 bg-gray-50">
    <h2 class="text-2xl font-bold text-center">Shop by Category</h2>

    @if (ViewBag.Message != null)
    {
        <p class="text-center text-red-600">@ViewBag.Message</p>
    }

    <div class="mx-auto mt-6 grid grid-cols-2 md:grid-cols-3 gap-6 lg:grid-cols-4">
        @foreach (var product in Model)
        {
            <div class="bg-white rounded-lg shadow-lg p-4 hover:shadow-xl transition transform hover:scale-105">
                <a href="#">
                    <img src="@Url.Content("~/images/" + product.ImagePath)"
                         class="rounded-lg w-full h-auto object-cover" alt="@product.ProductName" />
                    <div class="mt-4 flex justify-between">
                        <h3 class="font-semibold">@product.ProductName</h3>
                        <p class="price text-red-600 font-medium">@product.Price.ToString("C")</p>
                    </div>
                    <!-- Hiển thị tên danh mục -->
                    <div class="mt-2 text-sm text-gray-500">
                        <span>Danh mục: @product.TypeName</span>
                    </div>
                </a>
            </div>
        }
    </div>
</section>


    }

